CLUSTER={{mesos_cluster_name}}
IP={{mesos_ip}}
LOGS={{mesos_log_location}}
WORKDIR={{mesos_work_dir}}
QUORUM={{mesos_quorum}}
ULIMIT="{{mesos_ulimit}}"
ZK="{{mesos_zookeepers}}"
MASTER="{{mesos_masters}}"
OPTS="{{mesos_options}}"
ISOLATION="{{mesos_isolation}}"
CONTAINERIZERPATH="{{mesos_containerizer_path}}"
