description "mesos_service_discovery"

start on runlevel [2345]
respawn

script
  exec /opt/src/mesos_service_discovery/bin/mesos_service_discovery --host {{mesos_service_discovery_local_host}} --port {{mesos_service_discovery_local_port}} --marathon_host {{mesos_service_discovery_marathon_ip}} --marathon_port {{mesos_service_discovery_marathon_port}}>> {{mesos_service_discovery_log_file}} 2>&1
end script
