{
  "id": "{{app_name}}--{{deploy_env}}",
  "container": {
    "docker": {
        "image": "{{docker_image}}:{{deploy_version}}"
    },
    "type": "DOCKER"
  },
  "uris": [
    "file://{{ deploy_dockercfg_path }}"
  ],
{% if config[deploy_env]['cmd'] is defined %}
  "cmd": "{{ config[deploy_env]['cmd'] }}",
{% endif %}
  "ports": [ {{ port|replace("xx", "10" if deploy_env == "prod" else "12") }} ],
  "cpus": {{ config[deploy_env]['cpus'] }},
  "mem": {{ config[deploy_env]['mem'] }},
  "instances": {{ config[deploy_env]['instances'] }},
  "env": {
{% set envs = config[deploy_env]['env_vars'] %}
{% for k in envs|sort %}
    "{{ k }}": "{{ envs[k] }}"{{ "," if not loop.last else " " }}
{% endfor %}
  },
  "upgradeStrategy": {
    "minimumHealthCapacity": 1
  }
}
