---
- name: Write mesos-master file.
  template: src=mesos-master.j2 dest=/etc/default/mesos-master
  become: true

- name: Make sure mesos master is running and config is up-to-date
  become: true
  docker:
    image: "{{mesos_master_docker_image}}"
    name: "{{mesos_master_name}}"
    volumes:
      - "/etc/default/mesos-master:/etc/default/mesos-master:rw"
    expose:
      - 5050
    ports:
      - "5050:5050"
    env:
      MESOS_CLUSTER: "{{mesos_cluster_name}}"
      MESOS_HOSTNAME: "{{host_ip}}"
      MESOS_IP: "{{host_ip}}"
      MESOS_LOGGING_LEVEL: "{{mesos_logging_level}}"
      MESOS_LOG_DIR: "{{mesos_log_dir}}"
      MESOS_QUORUM: "{{mesos_quorum}}"
      MESOS_ZK: "{{mesos_zk}}"
    privileged: True
    net: host
    restart_policy: always
    state: reloaded
