#!/bin/bash
source /usr/share/easy-rsa/vars

# Generate CA
VAR=$(expect -c '
set openvpn "/etc/openvpn"
set easyrsa "/usr/share/easy-rsa"

spawn "$easyrsa/build-ca"
expect -re  ".*Country.*" { send "\n" }
expect -re  ".*Province Name.*" { send "\n" }
expect -re  ".*Locality Name.*" { send "\n" }
expect -re  ".*Organization Name.*" { send "\n" }
expect -re  ".*Organizational Unit Name.*" { send "\n" }
expect -re  ".*Common Name .*" { send "\n" }
expect -re  ".*Name .*" { send "\n" }
expect -re  ".*Email.*" { send "\n" }
expect eof')

# Run Expect script
echo "$VAR"
